@charset "utf-8";

.site-header{
    background: #fff;
    display: flex;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
    position: fixed;
    justify-content: space-between;
	width: 100%;
	height: 10%;
	background: rgba(255,255,255,0.5);
}

.gnav__menu{
	display: flex;
}
.gnav__menu__item{
	margin-left: 20px;
	list-style: none;
	padding-top: 10px;
	font-weight: 600;
}
.gnav__menu__item a{
    color: rgb(31, 31, 31);
	text-decoration: none;
	font-size: 1.2rem;
}
.gnav__menu__item a:hover{
	color: rgb(33, 134, 173);
}

ul li{
	padding-left: 20px;
}



/*body{
    background: linear-gradient(-60deg,rgb(255, 177, 32),#FFEEB4) fixed;
  }*/
  body{
    background: linear-gradient(45deg, #6cb8ff, #fff66c, #ffa36c);
    background-size: 600% 600%;
    animation: AnimationName 20s ease infinite;
    }
     
    @keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
    }



.title{
    font-size: 4rem;
    padding-top: 47px;
    padding-left: 10px;
    color: rgb(0, 0, 0);
	background:linear-gradient(transparent 80%,#ffd803 0%);
}

.description{
    font-size: 1.3rem;
    margin-left: 2rem;
    margin-top: 1rem;
    color: black;
}


p.image-icon img{
    width: 100px; 
}
p.image-icon img:hover{
    opacity: 0.6;
}

.icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    transform: translateY(-6%) translateX(-50%);
    display:flex;
    list-style: none;
}

ul li {
    padding-top: 40px;
    padding-right: 50px;
    padding-left: 50px;
  }


  #popup{
    color: rgb(0, 0, 0);
    font-family: fantasy;
    font-size: 1.3rem;
    text-align: center;
  }
 